.landing-container {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #1e1e2e;
    .swap-block-ui {
        height: fit-content;
    }
    .network-options {
        display: flex;
        align-items: center;
        .network-label {
            padding-left: 5px;
        }
    }
    .transfer-wrapper {
        height: 440px;
        min-width: 520px;
        border: 1px solid black;
        border-radius: 1.5rem;
        background-color: #ffffff;
        padding: 0 1.5rem 1.5rem;
        .source-destination, .amount-token {
            // min-height: 110px;
            padding: 2rem 1rem 1rem;
            border: 1px solid #e7e7f7;
            background-color: #f7f7fc;
            border-radius: 1.5rem;
        }
        .source-destination {
            display: flex;
            flex: 5;
            .source, .destination {
                flex: 2;
                .select-outer-wrapper {
                    margin-top: 5px;
                }
            }
            .swap {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                .swap-btn {
                    margin-top: 20px;
                }
            }
        }
        .amount-token {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            .form-field {
                width: 190px;
                .token {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    margin: 0;
                }
                .footer {
                    display: flex;
                    justify-content: space-between;
                    .min-amount, .max-amount, .balance {
                        color: $text-color-800 !important;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 2;
                    }
                }
            }
        }
        .transfer {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .transfer-btn {
                background-color: $button-color;
                color: #ffffff;
            }
        }
    }
}